/* Container for all boxes */
.magic-ocr-box {
    animation: fadeIn 0.3s ease-in;
    z-index: 9999;
}

/* INDIVIDUAL TEXT BOXES */
.magic-text-box {
    position: absolute;
    color: transparent; 
    background: transparent;
    border: none;
    cursor: text; 
    font-family: "Consolas", "Monaco", "Menlo", monospace; 
    line-height: 1; 
    white-space: nowrap;
    pointer-events: auto;
}

.magic-text-box::selection {
    background: rgba(200, 200, 200, 0.5); 
    color: transparent; 
}

.magic-text-box:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.05);
}
